shamefully-hoist=true # helps with compatibility for packages that expect a flat `node_modules` structure
legacy-peer-deps=true # allows installation of packages with incompatible peer dependencies
strict-peer-dependencies=false # allows installation of packages with strict peer dependencies
auto-install-peers=true # automatically install peer dependencies
